<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/test.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap" rel="stylesheet">

    <title>Test!</title>
    <nav>
        <svg width="95px" height="95px" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="Frame 1">
                <rect width="100" height="100" />
                <a id="logo" href="">
                    <g id="logo">
                        <path id="Vector 2" d="M61 28C60.3333 27.1667 55 34.2 39 69L60 39.5L77.5 69L61 28Z" fill="white"
                            stroke="white" />
                        <path id="Vector 1"
                            d="M55.3851 70.6456C35.8457 64.0444 8.18125 45.2736 53.8379 23C48.4966 28.0165 37.9741 39.9742 38.6145 47.6729C39.2549 55.3715 50.0617 66.1958 55.3851 70.6456Z"
                            fill="white" stroke="white" />
                        <path id="Vector 3" d="M59.5 50L49.5 54L60 47L68.5 54L59.5 50Z" fill="white" stroke="white" />
                    </g>
            </g>
        </svg>
        <a id="contactLink" href="">Contact Me</a>
    </nav>

</head>

<body>
    <div class="backGround"></div>
    <div class="backgroundCircle"></div>
    <div class="backgroundCircle"></div>
    <div class="panel">
        <div class="content">
            <div id="header">Hi, Im Christian Arevalo.</div>
            <p>Design and functionality go hand in hand.</p>
            <svg id="logos" width="430" height="81" viewBox="0 0 430 81" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="Frame 1">
                    <rect width="100%" height="100%" rx="1" fill="none" />
                    <a href="">
                        <path id="codePenLogo"
                            d="M241.998 49.0776L215 31.9224L188 49.0776M188 31.9233L215 48.8466L242 31.9242M215 15V31.9224M215 49.0767V65.9991M188 49.0776L215 66L242 49.0776V31.9224L215 15L188 31.9224V49.0776Z"
                            stroke="white" stroke-width="6.05" stroke-linecap="round" stroke-linejoin="round" />
                    </a>
                    <a href="">
                        <path id="gitHubLogo"
                            d="M215 14C200.092 14 188 26.1653 188 41.1699C188 53.1745 195.735 63.3587 206.466 66.9519C207.813 67.2033 208.25 66.361 208.25 65.6455V60.5874C200.739 62.2312 199.176 57.3813 199.176 57.3813C197.947 54.2409 196.177 53.4055 196.177 53.4055C193.726 51.7187 196.363 51.7549 196.363 51.7549C199.075 51.9451 200.501 54.5557 200.501 54.5557C202.909 58.7081 206.817 57.5081 208.358 56.813C208.599 55.0583 209.299 53.8583 210.073 53.1813C204.076 52.4907 197.772 50.1609 197.772 39.7526C197.772 36.7842 198.827 34.3616 200.553 32.4597C200.274 31.7737 199.349 29.0091 200.816 25.2687C200.816 25.2687 203.084 24.5397 208.243 28.0536C210.396 27.4514 212.705 27.1502 215 27.1389C217.295 27.1502 219.606 27.4514 221.763 28.0536C226.918 24.5397 229.182 25.2687 229.182 25.2687C230.651 29.0114 229.726 31.7759 229.447 32.4597C231.18 34.3616 232.226 36.7865 232.226 39.7526C232.226 50.1881 225.91 52.4862 219.898 53.1587C220.866 54.0009 221.75 55.6538 221.75 58.1896V65.6455C221.75 66.3678 222.182 67.2168 223.552 66.9497C234.273 63.3519 242 53.17 242 41.1699C242 26.1653 229.911 14 215 14Z"
                            fill="white" />
                    </a>
                    <a href="">
                        <path id="linkedInLogo"
                            d="M230.75 14H199.25C193.038 14 188 18.9445 188 25.0417V55.9583C188 62.0555 193.038 67 199.25 67H230.75C236.965 67 242 62.0555 242 55.9583V25.0417C242 18.9445 236.965 14 230.75 14ZM206 55.9583H199.25V31.6667H206V55.9583ZM202.625 28.8665C200.451 28.8665 198.688 27.1219 198.688 24.971C198.688 22.8201 200.451 21.0755 202.625 21.0755C204.799 21.0755 206.562 22.8201 206.562 24.971C206.562 27.1219 204.801 28.8665 202.625 28.8665ZM233 55.9583H226.25V43.5828C226.25 36.1452 217.25 36.7083 217.25 43.5828V55.9583H210.5V31.6667H217.25V35.5644C220.391 29.8536 233 29.4318 233 41.0322V55.9583Z"
                            fill="white" />
                    </a>
                </g>
            </svg>

            <h3 id="arrowHeader" class="show">What I do</h3>
            <h3 id="arrow" class="show">&#8659;</h3>
        </div>
        <div class="content">
            <svg class="backTriangle" width="130" height="113" viewBox="0 0 130 113" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path id="triangle" d="M65 0L129.952 112.5H0.0480957L65 0Z" fill="url(#paint0_linear_1_3)"/>
                <defs>
                <linearGradient id="paint0_linear_1_3" x1="-10" y1="108" x2="143.5" y2="11.5" gradientUnits="userSpaceOnUse">
                <stop offset="0.151834" stop-color="#9703B0" stop-opacity="0.73"/>
                <stop offset="0.290272" stop-color="#6E0492" stop-opacity="0.852187"/>
                <stop offset="0.50226" stop-color="#1F0A71" stop-opacity="0.88"/>
                <stop offset="0.603318" stop-color="#1F0A71" stop-opacity="0.938932"/>
                <stop offset="0.662115" stop-color="#00117C" stop-opacity="0.9"/>
                <stop offset="0.817708" stop-color="#00117C" stop-opacity="0.946748"/>
                <stop offset="1" stop-color="#00117C" stop-opacity="0.946748"/>
                </linearGradient>
                </defs>
            </svg>    
            <svg class="backTriangle" width="130" height="113" viewBox="0 0 130 113" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path id="triangle" d="M65 0L129.952 112.5H0.0480957L65 0Z" fill="url(#paint0_linear_1_3)"/>
                    <defs>
                    <linearGradient id="paint0_linear_1_3" x1="-10" y1="108" x2="143.5" y2="11.5" gradientUnits="userSpaceOnUse">
                    <stop offset="0.151834" stop-color="#9703B0" stop-opacity="0.73"/>
                    <stop offset="0.290272" stop-color="#6E0492" stop-opacity="0.852187"/>
                    <stop offset="0.50226" stop-color="#1F0A71" stop-opacity="0.88"/>
                    <stop offset="0.603318" stop-color="#1F0A71" stop-opacity="0.938932"/>
                    <stop offset="0.662115" stop-color="#00117C" stop-opacity="0.9"/>
                    <stop offset="0.817708" stop-color="#00117C" stop-opacity="0.946748"/>
                    <stop offset="1" stop-color="#00117C" stop-opacity="0.946748"/>
                    </linearGradient>
                    </defs>
            </svg>              
            <section id="section" class="aniBottom">I am a full-stack developer with a focus on: </section>
            <div class="cardHolder">
                <div class="card aniBottom">
                    <div id="accessIMG" class="cardImage">
                        <svg width="150" height="150" viewBox="0 0 150 150" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g id="Frame 1">
                            <g id="desktop">
                            <path id="desktop_2" d="M72.7889 91.4114C73.9778 90.1147 76.0222 90.1147 77.2111 91.4113L93.7726 109.472C95.5369 111.397 94.172 114.5 91.5615 114.5H58.4385C55.828 114.5 54.4631 111.397 56.2274 109.472L72.7889 91.4114Z" fill="white"/>
                            <rect id="desktop_1" x="63" y="83" width="24" height="21" fill="white"/>
                            </g>
                            <g id="mainFrame">
                            <rect id="desktop_frame" x="2" y="14" width="146" height="75" rx="5" fill="white"/>
                            <rect id="Rectangle 1" x="7.21429" y="19.3571" width="135.571" height="64.2857" rx="4" fill="#D9D9D9"/>
                            <rect id="Rectangle 5" x="103.157" y="24.7143" width="35.4571" height="8.57143" rx="4.28571" fill="#7575A8"/>
                            <rect id="Rectangle 6" x="78.1286" y="54.7143" width="60.4857" height="8.57143" rx="4.28571" fill="#7575A8"/>
                            <rect id="Rectangle 7" x="11.3857" y="39.7143" width="35.4571" height="8.57143" rx="4.28571" fill="#7575A8"/>
                            <rect id="Rectangle 4" x="21.8143" y="68.6429" width="90.7286" height="8.57143" rx="4.28571" fill="#7575A8"/>
                            <rect id="Rectangle 2" x="11.3857" y="24.7143" width="82.3857" height="8.57143" rx="4.28571" fill="#7575A8"/>
                            <rect id="Rectangle 2_2" x="62.4857" y="39.7143" width="76.1286" height="8.57143" rx="4.28571" fill="#7575A8"/>
                            <path id="Rectangle 3" d="M11.3857 59C11.3857 56.6331 13.3045 54.7143 15.6714 54.7143H69.6714C72.0384 54.7143 73.9571 56.6331 73.9571 59V59C73.9571 61.3669 72.0384 63.2857 69.6714 63.2857H15.6714C13.3045 63.2857 11.3857 61.3669 11.3857 59V59Z" fill="#7575A8"/>
                            <circle id="ipad_button" cx="145" cy="53" r="2" fill="#D9D9D9"/>
                            <circle id="iphone_button" cx="76" cy="86" r="2" fill="#D9D9D9"/>
                            </g>
                            </svg>                            
                        </svg>
                    </div>
                    <div class="cardHeader">Accessibility</div>
                    <div class="cardBody">
                        <ul>
                            <li>Adhering to all WCAG (Web Content Accessibility Guidelines) standards</li>
                            <li>Screen reader compatibility</li>
                            <li>Making websites responsive for all devices</li>
                        </ul>
                    </div>
                </div>
                <div class="card aniBottom">
                    <div id="uxIMG" class="cardImage">
                        <svg width="150" height="150" viewBox="0 0 150 150" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g id="Frame 1" clip-path="url(#clip0_1_3)">
                            <g id="person">
                            <path id="Vector 1" d="M109.996 118.18C97.7184 97.3802 65.7311 68.1016 36 117.385L109.996 118.18Z" fill="white" stroke="white" stroke-width="5"/>
                            <circle id="Ellipse 1" cx="73.5" cy="65.5" r="17.5" fill="white"/>
                            </g>
                            <g id="stars">
                                <%# fill="url(#paint4_linear_1_3)"%>
                            <path id="Star 5" class="star" d="M121 64L124.143 72.9828H134.315L126.086 78.5344L129.229 87.5172L121 81.9656L112.771 87.5172L115.914 78.5344L107.685 72.9828H117.857L121 64Z" fill="#FFFFFF"/>
                            <path id="Star 2" class="star" d="M40 33L43.1432 41.9828H53.3148L45.0858 47.5344L48.229 56.5172L40 50.9656L31.771 56.5172L34.9142 47.5344L26.6852 41.9828H36.8568L40 33Z"  fill="#FFFFFF"/>
                            <path id="Star 1" class="star" d="M28 63L31.1432 71.9828H41.3148L33.0858 77.5344L36.229 86.5172L28 80.9656L19.771 86.5172L22.9142 77.5344L14.6852 71.9828H24.8568L28 63Z"  fill="#FFFFFF"/>
                            <path id="Star 4" class="star" d="M107 33L110.143 41.9828H120.315L112.086 47.5344L115.229 56.5172L107 50.9656L98.771 56.5172L101.914 47.5344L93.6852 41.9828H103.857L107 33Z"  fill="#FFFFFF"/>
                            <path id="Star 3" class="star" d="M75 17L78.1432 25.9828H88.3148L80.0858 31.5344L83.229 40.5172L75 34.9656L66.771 40.5172L69.9142 31.5344L61.6852 25.9828H71.8568L75 17Z" fill="#FFFFFF"/> 
                            </g>
                            <g id="X" filter="url(#filter0_d_1_3)">
                            <path d="M93.8125 32L109.945 59.2656H110.57L126.781 32H145.883L121.469 72L146.43 112H126.977L110.57 84.6953H109.945L93.5391 112H74.1641L99.2031 72L74.6328 32H93.8125Z" fill="white"/>
                            <path d="M93.8125 32L94.6731 31.4908L94.3827 31H93.8125V32ZM109.945 59.2656L109.085 59.7748L109.375 60.2656H109.945V59.2656ZM110.57 59.2656V60.2656H111.139L111.43 59.7767L110.57 59.2656ZM126.781 32V31H126.212L125.922 31.4889L126.781 32ZM145.883 32L146.736 32.521L147.665 31H145.883V32ZM121.469 72L120.615 71.479L120.294 72.0058L120.62 72.5294L121.469 72ZM146.43 112V113H148.232L147.278 111.471L146.43 112ZM126.977 112L126.119 112.515L126.411 113H126.977V112ZM110.57 84.6953L111.427 84.1803L111.136 83.6953H110.57V84.6953ZM109.945 84.6953V83.6953H109.38L109.088 84.1803L109.945 84.6953ZM93.5391 112V113H94.1048L94.3962 112.515L93.5391 112ZM74.1641 112L73.3164 111.469L72.3583 113H74.1641V112ZM99.2031 72L100.051 72.5306L100.38 72.005L100.055 71.4766L99.2031 72ZM74.6328 32V31H72.845L73.7807 32.5234L74.6328 32ZM92.9519 32.5092L109.085 59.7748L110.806 58.7564L94.6731 31.4908L92.9519 32.5092ZM109.945 60.2656H110.57V58.2656H109.945V60.2656ZM111.43 59.7767L127.641 32.511L125.922 31.4889L109.711 58.7546L111.43 59.7767ZM126.781 33H145.883V31H126.781V33ZM145.029 31.479L120.615 71.479L122.322 72.521L146.736 32.521L145.029 31.479ZM120.62 72.5294L145.581 112.529L147.278 111.471L122.317 71.4706L120.62 72.5294ZM146.43 111H126.977V113H146.43V111ZM127.834 111.485L111.427 84.1803L109.713 85.2103L126.119 112.515L127.834 111.485ZM110.57 83.6953H109.945V85.6953H110.57V83.6953ZM109.088 84.1803L92.6819 111.485L94.3962 112.515L110.802 85.2103L109.088 84.1803ZM93.5391 111H74.1641V113H93.5391V111ZM75.0117 112.531L100.051 72.5306L98.3555 71.4694L73.3164 111.469L75.0117 112.531ZM100.055 71.4766L75.4849 31.4766L73.7807 32.5234L98.351 72.5234L100.055 71.4766ZM74.6328 33H93.8125V31H74.6328V33Z" fill="white"/>
                            </g>
                            <g id="U" filter="url(#filter1_d_1_3)">
                            <path d="M53.3672 32H70.2813V83.9531C70.2813 89.7865 68.888 94.8906 66.1016 99.2656C63.3411 103.641 59.474 107.052 54.5 109.5C49.526 111.922 43.7318 113.133 37.1172 113.133C30.4766 113.133 24.6693 111.922 19.6953 109.5C14.7214 107.052 10.8542 103.641 8.09375 99.2656C5.33333 94.8906 3.95312 89.7865 3.95312 83.9531V32H20.8672V82.5078C20.8672 85.5547 21.5313 88.263 22.8594 90.6328C24.2135 93.0026 26.1146 94.8646 28.5625 96.2188C31.0104 97.5729 33.862 98.25 37.1172 98.25C40.3984 98.25 43.25 97.5729 45.6719 96.2188C48.1198 94.8646 50.0078 93.0026 51.3359 90.6328C52.6901 88.263 53.3672 85.5547 53.3672 82.5078V32Z" fill="white"/>
                            <path d="M53.3672 32V31H52.3672V32H53.3672ZM70.2813 32H71.2813V31H70.2813V32ZM66.1016 99.2656L65.2581 98.7284L65.2558 98.732L66.1016 99.2656ZM54.5 109.5L54.9378 110.399L54.9416 110.397L54.5 109.5ZM19.6953 109.5L19.2537 110.397L19.2575 110.399L19.6953 109.5ZM8.09375 99.2656L7.24802 99.7992L7.24802 99.7992L8.09375 99.2656ZM3.95312 32V31H2.95312V32H3.95312ZM20.8672 32H21.8672V31H20.8672V32ZM22.8594 90.6328L21.987 91.1217L21.9911 91.129L22.8594 90.6328ZM28.5625 96.2188L28.0784 97.0938L28.0784 97.0938L28.5625 96.2188ZM45.6719 96.2188L45.1878 95.3437L45.1838 95.3459L45.6719 96.2188ZM51.3359 90.6328L50.4677 90.1367L50.4636 90.1439L51.3359 90.6328ZM53.3672 33H70.2813V31H53.3672V33ZM69.2813 32V83.9531H71.2813V32H69.2813ZM69.2813 83.9531C69.2813 89.6206 67.93 94.5334 65.2581 98.7284L66.945 99.8028C69.8461 95.2479 71.2813 89.9523 71.2813 83.9531H69.2813ZM65.2558 98.732C62.6011 102.94 58.879 106.23 54.0584 108.603L54.9416 110.397C60.0689 107.874 64.0812 104.342 66.9473 99.7992L65.2558 98.732ZM54.0622 108.601C49.2488 110.945 43.6094 112.133 37.1172 112.133V114.133C43.8541 114.133 49.8033 112.899 54.9378 110.399L54.0622 108.601ZM37.1172 112.133C30.5982 112.133 24.946 110.944 20.1331 108.601L19.2575 110.399C24.3925 112.899 30.3549 114.133 37.1172 114.133V112.133ZM20.1369 108.603C15.3163 106.23 11.5942 102.94 8.93948 98.732L7.24802 99.7992C10.1141 104.342 14.1264 107.874 19.2537 110.397L20.1369 108.603ZM8.93948 98.732C6.2923 94.5365 4.95312 89.6224 4.95312 83.9531H2.95312C2.95312 89.9505 4.37436 95.2448 7.24802 99.7992L8.93948 98.732ZM4.95312 83.9531V32H2.95312V83.9531H4.95312ZM3.95312 33H20.8672V31H3.95312V33ZM19.8672 32V82.5078H21.8672V32H19.8672ZM19.8672 82.5078C19.8672 85.7047 20.5654 88.5851 21.987 91.1217L23.7317 90.1439C22.4971 87.9409 21.8672 85.4047 21.8672 82.5078H19.8672ZM21.9911 91.129C23.4386 93.662 25.4744 95.6532 28.0784 97.0938L29.0466 95.3437C26.7548 94.0759 24.9885 92.3432 23.7276 90.1367L21.9911 91.129ZM28.0784 97.0938C30.6972 98.5424 33.7205 99.25 37.1172 99.25V97.25C34.0034 97.25 31.3237 96.6034 29.0466 95.3437L28.0784 97.0938ZM37.1172 99.25C40.538 99.25 43.5638 98.5432 46.1599 97.0916L45.1838 95.3459C42.9362 96.6027 40.2588 97.25 37.1172 97.25V99.25ZM46.1559 97.0938C48.7616 95.6524 50.7864 93.6588 52.2083 91.1217L50.4636 90.1439C49.2293 92.3464 47.478 94.0768 45.1878 95.3437L46.1559 97.0938ZM52.2042 91.129C53.6544 88.5911 54.3672 85.708 54.3672 82.5078H52.3672C52.3672 85.4013 51.7258 87.935 50.4677 90.1367L52.2042 91.129ZM54.3672 82.5078V32H52.3672V82.5078H54.3672Z" fill="white"/>
                            </g>
                            </g>
                            <defs>
                            <filter id="filter0_d_1_3" x="70.1641" y="32" width="80.2656" height="88" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                            <feOffset dy="4"/>
                            <feGaussianBlur stdDeviation="2"/>
                            <feComposite in2="hardAlpha" operator="out"/>
                            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1_3"/>
                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1_3" result="shape"/>
                            </filter>
                            <filter id="filter1_d_1_3" x="-0.046875" y="32" width="74.3281" height="89.1328" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                            <feOffset dy="4"/>
                            <feGaussianBlur stdDeviation="2"/>
                            <feComposite in2="hardAlpha" operator="out"/>
                            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1_3"/>
                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1_3" result="shape"/>
                            </filter>
                            <linearGradient id="paint0_linear_1_3" x1="121" y1="64" x2="121" y2="90" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#231C50"/>
                            <stop offset="0.0001" stop-color="#231C50"/>
                            <stop offset="0.171875" stop-color="#351867" stop-opacity="0.954427"/>
                            <stop offset="0.984375" stop-color="#AD00FF" stop-opacity="0.65"/>
                            <stop offset="0.984475" stop-color="#AD00FF" stop-opacity="0.65"/>
                            </linearGradient>
                            <linearGradient id="paint1_linear_1_3" x1="40" y1="33" x2="40" y2="59" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#231C50"/>
                            <stop offset="0.0001" stop-color="#231C50"/>
                            <stop offset="0.171875" stop-color="#351867" stop-opacity="0.954427"/>
                            <stop offset="0.984375" stop-color="#AD00FF" stop-opacity="0.65"/>
                            <stop offset="0.984475" stop-color="#AD00FF" stop-opacity="0.65"/>
                            </linearGradient>
                            <linearGradient id="paint2_linear_1_3" x1="28" y1="63" x2="28" y2="89" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#231C50"/>
                            <stop offset="0.0001" stop-color="#231C50"/>
                            <stop offset="0.171875" stop-color="#351867" stop-opacity="0.954427"/>
                            <stop offset="0.984375" stop-color="#AD00FF" stop-opacity="0.65"/>
                            <stop offset="0.984475" stop-color="#AD00FF" stop-opacity="0.65"/>
                            </linearGradient>
                            <linearGradient id="paint3_linear_1_3" x1="107" y1="33" x2="107" y2="59" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#231C50"/>
                            <stop offset="0.0001" stop-color="#231C50"/>
                            <stop offset="0.171875" stop-color="#351867" stop-opacity="0.954427"/>
                            <stop offset="0.984375" stop-color="#AD00FF" stop-opacity="0.65"/>
                            <stop offset="0.984475" stop-color="#AD00FF" stop-opacity="0.65"/>
                            </linearGradient>
                            <linearGradient id="paint4_linear_1_3" x1="75" y1="17" x2="75" y2="43" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#231C50"/>
                            <stop offset="0.0001" stop-color="#231C50"/>
                            <stop offset="0.171875" stop-color="#351867" stop-opacity="0.954427"/>
                            <stop offset="0.984375" stop-color="#AD00FF" stop-opacity="0.65"/>
                            <stop offset="0.984475" stop-color="#AD00FF" stop-opacity="0.65"/>
                            </linearGradient>
                            <clipPath id="clip0_1_3">
                            <rect width="150" height="150" fill="white"/>
                            </clipPath>
                            </defs>
                            </svg>                                                    
                    </div>
                    <div class="cardHeader">User Experience</div>
                    <div class="cardBody">
                        <ul>
                            <li>Designing and implementing fluid UI</li>
                            <li>Bringing website to life with animated content</li>
                            <li>Ensuring fast load times through optimization</li>
                        </ul>
                    </div>
                </div>
                <div class="card aniBottom">
                    <div id="maintainIMG" class="cardImage">
                        <svg width="150" height="150" viewBox="0 0 150 150" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g id="Frame 1">
                            <circle id="pulse" cx="75" cy="75" r="43.5" stroke="#7575A8" stroke-width="3"/>
                            <circle id="pulse2" cx="75" cy="75" r="43.5" stroke="#7575A8" stroke-width="3"/>
                            <g id="gear" filter="url(#filter0_d_1_2)">
                            <circle id="Ellipse 1" cx="75.5" cy="75.5" r="47.5" fill="#FFFFFF"/>
                            <rect id="Rectangle 7" x="47.7487" y="86" width="21" height="35" transform="rotate(45 47.7487 86)" fill="#FFFFFF"/>
                            <rect id="Rectangle 3" x="50" y="65" width="21" height="35" transform="rotate(90 50 65)" fill="#FFFFFF"/>
                            <rect id="Rectangle 2" x="135" y="65" width="21" height="35" transform="rotate(90 135 65)" fill="#FFFFFF"/>
                            <rect id="Rectangle 1" x="65" y="16" width="21" height="35" fill="#FFFFFF"/>
                            <rect id="Rectangle 5" x="110.749" y="26" width="21" height="35" transform="rotate(45 110.749 26)" fill="#FFFFFF"/>
                            <rect id="Rectangle 8" x="86" y="99.8492" width="21" height="35" transform="rotate(-45 86 99.8492)" fill="#FFFFFF"/>
                            <rect id="Rectangle 4" x="65" y="98" width="21" height="35" fill="#FFFFFF"/>
                            <rect id="Rectangle 6" x="23" y="40.8492" width="21" height="35" transform="rotate(-45 23 40.8492)" fill="#FFFFFF"/>
                            <g id="Ellipse 2" filter="url(#filter1_i_1_2)">
                            <circle cx="75.5" cy="75.5" r="12.5" fill="rgba(117,117,168,0.7)"/>
                            </g>
                            </g>
                            <g id="arrows">
                            <circle id="Ellipse 3" cx="75.5" cy="75.5" r="29" stroke="#7575A8" stroke-width="3"/>
                            <path id="Arrow 1" d="M56.5 55C56.5 54.1716 55.8284 53.5 55 53.5H41.5C40.6716 53.5 40 54.1716 40 55C40 55.8284 40.6716 56.5 41.5 56.5H53.5V68.5C53.5 69.3284 54.1716 70 55 70C55.8284 70 56.5 69.3284 56.5 68.5V55ZM55.0607 57.0607L56.0607 56.0607L53.9393 53.9393L52.9393 54.9393L55.0607 57.0607Z" fill="#7575A8"/>
                            <path id="Arrow 2" d="M91.5 99C91.5 99.8284 92.1716 100.5 93 100.5H106.5C107.328 100.5 108 99.8284 108 99C108 98.1716 107.328 97.5 106.5 97.5H94.5V85.5C94.5 84.6716 93.8284 84 93 84C92.1716 84 91.5 84.6716 91.5 85.5V99ZM92.9393 96.9393L91.9393 97.9393L94.0607 100.061L95.0607 99.0607L92.9393 96.9393Z" fill="#7575A8"/>
                            <path id="Arrow 3" d="M99 59.5C99.8284 59.5 100.5 58.8284 100.5 58V44.5C100.5 43.6716 99.8284 43 99 43C98.1716 43 97.5 43.6716 97.5 44.5V56.5H85.5C84.6716 56.5 84 57.1716 84 58C84 58.8284 84.6716 59.5 85.5 59.5H99ZM96.9393 58.0607L97.9393 59.0607L100.061 56.9393L99.0607 55.9393L96.9393 58.0607Z" fill="#7575A8"/>
                            <path id="Arrow 4" d="M55 94.5C54.1716 94.5 53.5 95.1716 53.5 96V109.5C53.5 110.328 54.1716 111 55 111C55.8284 111 56.5 110.328 56.5 109.5V97.5H68.5C69.3284 97.5 70 96.8284 70 96C70 95.1716 69.3284 94.5 68.5 94.5H55ZM57.0607 95.9393L56.0607 94.9393L53.9393 97.0607L54.9393 98.0607L57.0607 95.9393Z" fill="#7575A8"/>
                            </g>
                            </g>
                            <defs>
                            <filter id="filter0_d_1_2" x="11" y="16" width="128" height="125" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                            <feOffset dy="4"/>
                            <feGaussianBlur stdDeviation="2"/>
                            <feComposite in2="hardAlpha" operator="out"/>
                            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1_2"/>
                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1_2" result="shape"/>
                            </filter>
                            <filter id="filter1_i_1_2" x="63" y="63" width="25" height="29" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                            <feOffset dy="4"/>
                            <feGaussianBlur stdDeviation="2"/>
                            <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
                            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                            <feBlend mode="normal" in2="shape" result="effect1_innerShadow_1_2"/>
                            </filter>
                            </defs>
                            </svg>
                            
                    </div>
                    <div class="cardHeader">Maintainability</div>
                    <div class="cardBody">
                        <ul>
                            <li>Applying well known best practices consistently</li>
                            <li>Thorough and concise documentation</li>
                            <li>Ensuring adding many new features is feasible</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <section class="aniBottom">My Projects:</section>
            <div class="projectHolder" name="projects">
                <a href=""><div class="projectCard aniBottom"></div></a>
                <a href=""><div class="projectCard aniBottom"></div></a>
                <a href=""><div class="projectCard aniBottom"></div></a>
                <a href=""><div class="projectCard aniBottom"></div></a>
                <a href=""><div class="projectCard aniBottom"></div></a>
                <a href=""><div class="projectCard aniBottom"></div></a>

            </div>
        </div>
        <div class="content">
            <section class="aniBottom">Contact Me</section>
            <div class="inputHolder">
                <form action="/contact" method="POST" id="contactForm">
                    <div class="inputGroup">
                        <label for="nameInput">Enter your name</label>
                        <input type="text" id="nameInput" placeholder="name">
                    </div>
                    <div class="inputGroup">
                        <label for="emailInput">Enter your Email</label>
                        <input type="email" id="emailInput" placeholder="example@email.com">
                    </div>
                    <div class="inputGroup">
                        <label for="phoneInput">Enter your Phone # *Optional</label>
                        <input type="tel" id="phoneInput" pattern="[+]{1}[0-9]{11,14}" title="Only enter numbers." placeholder="### ### ####">
                    </div>
                    <div class="inputGroup">
                        <label for="comment">Leave a comment</label>
                        <textarea name="comment" id="comment" cols="60" rows="4"
                            placeholder="comment"></textarea>
                    </div>
                    <button>Submit</button>

                </form>
            </div>
        </div>
    </div>






    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
        <script src="/test.js"></script>
</body>

</html>